@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,200;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* html,
body {
  @apply bg-background text-white;
} */

/* body {
  font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'
} */


/* input, textarea {
  @apply rounded bg-gray px-6 py-3;
} */

/* a {
  @apply text-primary-500 hover:text-primary-400 hover:underline;
} */

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.transform-center {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

button:disabled {
  cursor: not-allowed;
  @apply opacity-50;
}

.gradient
{
  background: linear-gradient(178.18deg, #25B086 -13.56%, #A4F4D7 158.3%);
}

.red-gradient {
  background:  linear-gradient(178deg, #FF4B52 -13.56%, #FFF 158.3%)
}


/* @layer components {
  .btn {
    @apply uppercase px-6 py-3 font-bold text-gray-700 bg-white rounded hover:bg-gray-200 hover:no-underline hover:text-gray-700;
  }
  .btn-primary {
    @apply text-white bg-primary-500 hover:bg-primary-600 hover:text-white;
  }
  .btn-error {
    @apply text-white bg-red hover:opacity-75 hover:bg-red hover:text-white;
  }
  .error {
    @apply block text-red text-sm;
  }
  .btn:disabled {
    cursor: not-allowed;
    @apply opacity-50;
  }
} */

.inset-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

